<!DOCTYPE html>
html(lang="en")
	head
		title Desarrollador Willmer Gonzalez

		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(property='og:url' content='https://willmerg.github.io/')
		meta(property='og:title' content='Willmer González Desarrollador Delphi y Web')
		meta(property='og:site_name' content='Willmer González desarrollador Freelancer experto en Delphi y Web')
		meta(name='og:description' content='Experto en el desarrollo de aplcicaciones en los lenguajes Delphi y en creacion y mantenimiento de paginas web')

		link(type="text/plain" rel="author" href="humans.txt")
		link(rel="stylesheet" type="text/css" href="css/normalize.6.0.css")
		link(rel="stylesheet" type="text/css" href="css/estilos.min.css")

		script(type="text/javascript" src="js/jquery-3.2.2.min.js")
		script(type='text/javascript' src='js/pace-1.0.2.min.js')

		script(type='text/javascript' src='js/scroll-animado.js')

	body
		#particles-js.particulas
		main.container

			#inicio
			nav.row.menu
				a(href="#inicio") Inicio
				a(href="#conocimientos") Conocimientos
				a(href="#estudios") Estudios
				a(href="#experiencia") Experiencia
				//- a(href="#") Proyectos
			header.row.between-lg.middle-lg.saludo
				.col-lg-9.center-lg.entrada
					p Hola bienvenido a mi pagina web
					p (Desarrollador Delphi y Web)
				.col-lg-3.nombre
					h2.center-lg.
						Willmer González
						willmer2911@gmail.com
					img(src="img/perfil.png", alt="Willmer Img")
					.row.center-lg
						a(href="mailto:willmer2911@gmail.com").col-lg.icon-envelope
						a(href="https://twitter.com/willmer2911" target="blank").col-lg.icon-twitter
						a(href="https://github.com/WillmerG" target="blank").col-lg.icon-github
						a(href="https://www.linkedin.com/in/willmer-gonz%C3%A1lez-a8b71995/" target="blank").col-lg.icon-linkedin
						//- a(href="").col-lg.icon-facebook

			#conocimientos
			aside.row.conocimientos
				h1.col-lg-12.center-lg Conocimientos

				h2.col-lg-12.center-lg lenguajes de Programación
				.col-lg
					.circular-progress.delphi
				.col-lg
					.circular-progress.html
				.col-lg
					.circular-progress.css
				.col-lg
					.circular-progress.javescript
				.col-lg
					.circular-progress.jquery
				.col-lg
					.circular-progress.php

				h2.col-lg-12.center-lg Base de Datos
				.col-lg
					.circular-progress.sql
				.col-lg
					.circular-progress.oracle
				.col-lg
					.circular-progress.pervasive
				.col-lg
					.circular-progress.db2
				.col-lg
					.circular-progress.mysql

				h2.col-lg-12.center-lg Tecnologías
				.col-lg
					.circular-progress.sass
				.col-lg
					.circular-progress.pug
				.col-lg
					.circular-progress.devexpress
				.col-lg
					.circular-progress.linux
				.col-lg
					.circular-progress.windows

			#estudios
			aside.row.estudios
				h1.col-lg-12.center-lg Estudios
				article.col-lg-6
					.caja
						h2 Instituto Universitario de Administración Industrial (IUTA) Caracas, Distrito Capital
						p Técnico Superior en Informática
						p Periodo: 2002 – 2005
				article.col-lg-6
					.caja
						h2 Unidad Educativa Nacional 25 de Julio Caracas, Distrito Capital
						p Titulo: Bachiller en Informática
						p Periodo: 1997 - 2002

			#experiencia
			aside.row.estudios
				h1.col-lg-12.center-lg Experiencia Laboral
				article.col-lg-6
					.caja
						h2 Actividad: Desarrollo de aplicaciones y mejoras a los sistemas de control de títulos y acciones de valores
						p Puesto: Desarrollador Delphi
						p Empresa: LA Sistmas
						p Periodo: 02/02/2006 – laborando actualmente
				article.col-lg-6
					.caja
						h2 Actividad: Mejoras en el sistema Web de Inventario de equipos de telecomunicaciones
						p Puesto: Pasante desarrollador web
						p Empresa: Comandancia General de la Armada de la República de Venezuela
						p Periodo: 20/04/2005 – 15/06/2005
				article.col-lg-6
					.caja
						h2 Actividad: Ayudante en el área de inventario
						p Puesto: Pasante
						p Empresa: Centro de Estudios Superiores de Auditoria de Estado (FUNDACEA)
						p Periodo: 06/05/2002 – 11/06/2002

		script(type='text/javascript' src='js/particles.min.js')
		script(type='text/javascript').
			particlesJS.load('particles-js', 'js/particlesjs-config.json', function() {
				console.log('callback - particles.js config loaded');
			});